@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
/*
font-family: 'Tenor Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: 'Montserrat', sans-serif;
*/

:root{
    /*cores*/
    --cor-gradiente-claro:rgb(92, 125, 173);
    --cor-gradiente-medio:rgb(65, 88, 122);
    --cor-gradiente-escuro:rgb(22,55,97);
    --cor-letra1:rgb(22,55,97);
    --cor-letra2:rgb(181,148,90);
    --cor-menu-hover:rgb(57, 104, 173);
    --cor-branco:rgb(255,255,255);
    --cor-main-section-article-background:rgb(231, 239, 251);
    --cor-calculadoraimc-border:rgb(153, 153, 153);
    --cor-calculadoraimc-background:rgba(181, 148, 90, 0.500);
    --cor-calculadoraimc-input-background:rgb(219, 239, 254);
    --cor-calculadoraimc-button-background:rgb(40, 157, 246);
    --cor-calculadoraimc-button-hover:rgb(22,55,97);
    --cor-calculadoraimc-button-active:rgba(255, 0, 0, 0.513);
    /*cores fim*/
}

body {
    background-color: var(--cor-gradiente-escuro);
}

/* Cabeçalho - display flex em colunas*/
header{
    font-family: 'Tenor Sans', sans-serif;
    display: flex;
    background-image: linear-gradient(to bottom,var(--cor-gradiente-claro), var(--cor-gradiente-medio), var(--cor-gradiente-escuro));
    border-radius: 5px 5px 0px 0px;
    margin-top: -4px;
       }

/*Menu - coluna 1 do cabeçalho*/
div#menu {
background-color: var(--cor-gradiente-escuro);
padding-right: 5px;
padding-left: 5px;
color: var(--cor-gradiente-escuro);
}

nav > a {
    text-decoration: none;
    color: var(--cor-letra2);
    padding:0px 8px 0px 8px;
}

nav > a:hover{
    background-color: var(--cor-menu-hover);
    border-radius: 5px;
}
/*Fim do menu*/

/*Logo - coluna 2 do cabeçalho*/
div#logo{
   
    border-radius: 10px;
    margin: auto;
}

#logo img{
    max-height: 228px;
    margin: auto;
    width: 100%;
    margin-top: 1px;
}

/*Fim do logo */
/*Fim do cabeçalho*/

/*Inicio da Main*/
main {
    min-width: 350px;
}

main > section {
    background-color:var(--cor-branco);
    font-family: 'Montserrat', sans-serif;
   border-radius: 5px;
}

/* Sobre Obesidade */
main> section > article> h2{
    color:var(--cor-letra1);
    text-align: center;
}

main> section > article{
    background-color: var(--cor-main-section-article-background);
    border-radius: 5px 5px;
}

main > section > article > p{
    text-align: justify;
    max-width: 800px;
    margin: auto;
}
/*Fim sobne a obesidade*/

/*Calculadora IMC*/

#calculadoraimc{
    height: fit-content;
    width: fit-content;
    margin: auto;
    border: 1px solid var(--cor-calculadoraimc-border);
    border-radius: 5px;
    margin-top: 10px;
}

#calculadoraimc > div{
    padding: 10px;
    color: var(--cor-letra1);
    background-color: var(--cor-calculadoraimc-background);
}

#calculadoraimc> div > h2{
    text-align: center;
}

#calculadoraimc > div > p{
    margin: 0 auto 0 auto;
    text-align: justify;
    font-weight: 500;
    border-radius: 5px
}

fieldset {
	width: 300px;
	margin: 25px auto 0 auto;
	border: 1px solid var(--cor-calculadoraimc-border);
	box-shadow: 1px 1px rgb(204, 204, 204);
	padding: 10px;
    border-radius: 5px;
}

input{
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--cor-calculadoraimc-input-background);
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

button{
    border: none;
  border-radius: 10px;
  height: 40px;
  width: 140px;
  background-color: var(--cor-calculadoraimc-button-background);
  color: var(--cor-branco);
  margin: auto;
  display: block;
  outline: none;
  cursor: pointer;
}

button:hover{
    background-color: var(--cor-calculadoraimc-button-hover);
}

button:active{
    background-color: rgba(255, 0, 0, 0.513);
}

label {
	float: left;
	width: 140px;
	display: block;
	clear: left;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

button {
	margin-left: 150px;
}

input {
	margin-top: 10px;
	display: block;
	text-align: right;
	width: 128px;
}

#bmi_label {
	width: 200px;
}

#bmi {
	width: 66px;
}

#intro {
	width: 300px;
	margin: 0 0 0 50px;
	padding: 10px;
	border: 1px solid var(--cor-calculadoraimc-border);
	box-shadow: 1px 1px rgb(204, 204, 204);
}
/*Fim da calculadora IMC*/

/*Tabela IMC*/
#tabela_imc {
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--cor-gradiente-escuro);
}

#tabela_imc img{
    width: 100%;
    }
/*Fim da tabela IMC*/

/*Fim da seção Main*/

/* Rodapé */
footer {
    text-align: center;
    color: var(--cor-letra2);
    background-image: linear-gradient(to top,var(--cor-gradiente-claro), var(--cor-gradiente-medio), var(--cor-gradiente-escuro));
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -10px;
}
div#bola{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#bola > img{
    height: 100px;
    width: 100px;
}
